<% @title = t('.title') %>
<% @subtitle = t('.subtitle') %>
<p><%= t '.purpose.header', :site => t('title') %></p>
<ol class="manual">
  <li><%= t '.purpose.better_api' %></li>
  <li><%= t '.purpose.transparent_pages' %></li>
  <li><%= t '.purpose.enable_community' %></li>
</ol>
<p>
  <%= t('.founding', :founder => link_to('Charles Jolley', 'http://twitter.com/okito'),
                     :developer => link_to('Peter Wagenet', 'http://twitter.com/wagenet'),
                     :title => t('title')).html_safe %>
</p>
<p>
  <%= t('.support', :strobe => link_to("Strobe", "http://strobecorp.com")).html_safe %>
</p>
<p>
  <%= t('.technical', :rails => link_to("Rails", "http://rubyonrails.org"),
                      :sinatra => link_to("Sinatra", "http://www.sinatrarb.com"),
                      :s3 => link_to("Amazon S3", "http://aws.amazon.com/s3/"),
                      :source_code => link_to("please check out the code", "http://github.com/bpm/getbpm.org"),
                      :license => link_to("MIT licensed", "http://www.opensource.org/licenses/mit-license.php")
                      ).html_safe %>
</p>
